* {
    font-family: "Segoe UI",Arial,sans-serif;
    background: #e6ecf0;
}

}

.layout {
    margin-top: 15px;
}

.layout_left {
    background-color: #e6ecf0;
    margin-right:0px;
    
}

.myprofile {
    width: 30%;
    margin-right: 7%
    display: inline-block;
    float: left;
}

.bluebg {
    background-color:#1da1f2;
    height: 80px;
}

.myname {
    font-weight: bold;
    text-align: center;
    height: 35px;
    font-size: 22px;
    padding: 10px 0px;
    background-color:#fff;
}

.tweets {
   color: #66757F;
   font-weight: bold;
   font-size: 15px;
   margin-left: 0px;
   padding: 5px 0px 7px 20px;
   background-color: #fff;

} 

.layout_right {
    float: right;
    margin-left: 40px;
    width: 66%;
}

.tweet_num {
    color:#1da1f2;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
    margin-left: 0px;
    background-color: #fff;
}

.update_board {
    background-color: #def2ff;
    padding: 20px 7px 12px 7px;
    overflow: hidden;
    border-bottom: 1.5px solid #e6ecf0;
}

.recent {
    background-color: #def2ff;
}

 input[type="textarea"] {
    border: 2px solid #a4defc;
    border-radius: 7px;
    background-color: #fff;
    resize: both;
    height: 100px;
    padding: 5px;
    color: #66757F;
    width:97%;
}

input[type="button"] {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 25px;
    box-shadow: none;
    font-size: 14px;
    text-align: center;
    float: right;
    margin: 5px 0px;
    width: 60px
    height: 30px;
    padding: 7px 10px 7px 10px;
}

.tweetbox {
  font-weight: bold;
  height: 30px;
  background-color: #fff;
  font-family: "Segoe UI",Arial,sans-serif;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 10px;

}

.danbox {
    background-color: #f5f7f7;
    height: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
}

#twmsg {
    background-color: #f5f7f7;
    height: auto;
    margin-bottom: 0px;
    padding-left: 15px;
}

p {
    background-color: #fafdff;
    margin-bottom: 0px;
    margin-top: 0px;
    height: auto;
    padding-bottom: 10px;
    padding-left: 15px;
    border-bottom: 1.5px solid #e6ecf0;

}